<%= form_with(model: payment_mean, local: true) do |form| %>
  <% if payment_mean.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_mean.errors.count, "error") %> prohibited this payment_mean from being saved:</h2>

      <ul>
      <% payment_mean.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :payment_mean_name %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency, id: :payment_mean_currency %>
  </div>

  <div class="field">
    <%= form.label :account_id %>
    <%= form.text_field :account_id, id: :payment_mean_account_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
