<p id="notice"><%= notice %></p>

<h1>Payment Means</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Currency</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_means.each do |payment_mean| %>
      <tr>
        <td><%= payment_mean.name %></td>
        <td><%= payment_mean.currency %></td>
        <td><%= payment_mean.account.name %></td>
        <td><%= link_to 'Show', payment_mean %></td>
        <td><%= link_to 'Edit', edit_payment_mean_path(payment_mean) %></td>
        <td><%= link_to 'Destroy', payment_mean, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment Mean', new_payment_mean_path %>
