<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_mean.name %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @payment_mean.currency %>
</p>

<p>
  <strong>Account:</strong>
  <%= @payment_mean.account.name %>
</p>

<%= link_to 'Edit', edit_payment_mean_path(@payment_mean) %> |
<%= link_to 'Back', payment_means_path %>
