= form_with(model: [transaction.account, transaction], local: true) do |form|
  - if transaction.errors.any?
    #error_explanation
      %h2
        = pluralize(transaction.errors.count, "error")
        prohibited this transaction from being saved:
      %ul
        - transaction.errors.full_messages.each do |message|
          %li= message
  .form-group.row
    = form.label :date, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = form.date_select :date, id: :transaction_date, order: [:day, :month, :year], class: 'form-control'
  .form-group.row
    = form.label :payment_mean_id, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = form.collection_select(:payment_mean_id, transaction.account.payment_means.all, :id, :name)
  .form-group.row
    = form.label :category_id, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = form.collection_select(:category_id, current_user.categories.all.order('name ASC'), :id, :name, {include_blank: 'Select a category'})
  .form-group.row
    = form.label :name, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = form.text_field :name, id: :transaction_name, class: 'form-control'
  .form-group.row
    = form.label :settlement_amount, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = form.text_field :settlement_amount, id: :transaction_settlement_amount, class: 'form-control', pattern: '-?[0-9]*(\.[0-9]+)?'
  .form-group.row
    = form.label :settlement_currency, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = form.text_field :settlement_currency, id: :transaction_settlement_currency, class: 'form-control'
  .form-group.row
    = form.label :amount, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = form.text_field :amount, id: :transaction_amount, class: 'form-control', pattern: '-?[0-9]*(\.[0-9]+)?'
  .form-group.row
    = form.label :currency, class: 'col-sm-2 col-form-label'
    .col-sm-10
      = form.text_field :currency, id: :transaction_currency, class: 'form-control'
  .form-group.row
    .col-sm-10
      = form.submit 'Save', class: 'btn btn-primary'
