= form_with(model: [transaction.account, transaction], local: true) do |form|
  - if transaction.errors.any?
    #error_explanation
      %h2
        = pluralize(transaction.errors.count, "error")
        prohibited this transaction from being saved:
      %ul
        - transaction.errors.full_messages.each do |message|
          %li= message
  .field
    .mdl-grid
      .mdl-cell.mdl-cell--4-col
        = form.label :date
      .mdl-cell.mdl-cell--8-col
        = form.date_select :date, id: :transaction_date, order: [:day, :month, :year]
  .field
    .mdl-grid
      .mdl-cell.mdl-cell--4-col
        = form.label :payment_mean_id
      .mdl-cell.mdl-cell--8-col
        = form.collection_select(:payment_mean_id, transaction.account.payment_means.all, :id, :name)
  .field
    .mdl-grid
      .mdl-cell.mdl-cell--4-col
        = form.label :category_id
      .mdl-cell.mdl-cell--8-col
        = form.collection_select(:category_id, current_user.categories.all.order('name ASC'), :id, :name, {include_blank: 'Select a category'})
  .mdl-textfield.mdl-js-textfield
    = form.text_field :name, id: :transaction_name, class: 'mdl-textfield__input'
    = form.label :name, class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield
    = form.text_field :settlement_amount, id: :transaction_settlement_amount, class: 'mdl-textfield__input', pattern: '-?[0-9]*(\.[0-9]+)?'
    = form.label :settlement_amount, class: 'mdl-textfield__label'
    %span.mdl-textfield__error Input is not a number!
  .mdl-textfield.mdl-js-textfield
    = form.text_field :settlement_currency, id: :transaction_settlement_currency, class: 'mdl-textfield__input'
    = form.label :settlement_currency, class: 'mdl-textfield__label'
  .mdl-textfield.mdl-js-textfield
    = form.text_field :amount, id: :transaction_amount, class: 'mdl-textfield__input', pattern: '-?[0-9]*(\.[0-9]+)?'
    = form.label :amount, class: 'mdl-textfield__label'
    %span.mdl-textfield__error Input is not a number!
  .mdl-textfield.mdl-js-textfield
    = form.text_field :currency, id: :transaction_currency, class: 'mdl-textfield__input'
    = form.label :currency, class: 'mdl-textfield__label'
  .actions
    = form.submit 'Save', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'
