<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_id %>
    <%= form.text_field :account_id, id: :transaction_account_id %>
  </div>

  <div class="field">
    <%= form.label :payment_mean_id %>
    <%= form.text_field :payment_mean_id, id: :transaction_payment_mean_id %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id, id: :transaction_category_id %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency, id: :transaction_currency %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :transaction_name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :transaction_amount %>
  </div>

  <div class="field">
    <%= form.label :settlement_currency %>
    <%= form.text_field :settlement_currency, id: :transaction_settlement_currency %>
  </div>

  <div class="field">
    <%= form.label :settlement_amount %>
    <%= form.text_field :settlement_amount, id: :transaction_settlement_amount %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :transaction_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
