= javascript_pack_tag 'state-change-checkbox'

%table#app.mdl-data-table.mdl-shadow--2dp.table-full-size
  %thead
    %tr
      %th &nbsp;
      %th.mdl-data-table__cell--non-numeric.mdl-data-table__header--sorted-descending Date
      %th.mdl-data-table__cell--non-numeric Name
      %th.mdl-data-table__cell--non-numeric Category
      %th Amount
      %th Actions
  %tbody
    -transactions.each do |transaction|
      %tr{class: [("debit" if transaction.settlement_amount < 0 ), ("credit" if transaction.settlement_amount >= 0 )]}
        %td
          %state-change-checkbox{'update-uri': state_account_transaction_path(transaction.account, transaction), 'start-checked': transaction.checked? ? 'true' : 'false'} }
        %td= transaction.date
        %td= transaction.name
        %td= transaction.category.name unless transaction.category.nil?
        %td.number= "#{format_currency transaction.settlement_amount, transaction.settlement_currency}"
        %td
          = link_to edit_account_transaction_path(transaction.account, transaction) do
            %i.material-icons create
          = link_to account_transaction_path(transaction.account, transaction), method: :delete, data: {confirm: 'Are you sure?'} do
            %i.material-icons delete forever
