-# = javascript_include_tag 'state-change-checkbox'

.row
  .col-sm-12
    .card
      .card-body
        %table#app.table.table-hover.table-borderless
          %thead
            %tr
              %th{:scope => 'col'} &nbsp;
              %th{:scope => 'col'} Date
              %th{:scope => 'col'} Name
              %th{:scope => 'col'} Category
              %th{:scope => 'col'} Payment Mean
              %th.text-right{:scope => 'col'} Amount
              %th
              %th
          %tbody
            -transactions.each do |transaction|
              %tr{class: [("debit" if transaction.settlement_amount < 0 ), ("credit" if transaction.settlement_amount >= 0 )]}
                %td
                  %state-change-checkbox{'update-uri': state_account_transaction_path(transaction.account, transaction), 'start-checked': transaction.checked? ? 'true' : 'false'} }
                %td= transaction.date
                %td= transaction.name
                %td= transaction.category.name unless transaction.category.nil?
                %td= transaction.payment_mean.name
                %td.number
                  = "#{format_currency transaction.settlement_amount, transaction.settlement_currency}"
                  - if transaction.settlement_currency != transaction.currency
                    %span.transaction-currency
                      = "#{format_currency transaction.amount, transaction.currency}"
                %td
                  = link_to edit_account_transaction_path(transaction.account, transaction) do
                    %i.material-icons create
                %td
                  = link_to account_transaction_path(transaction.account, transaction), method: :delete, data: {confirm: 'Are you sure?'} do
                    %i.material-icons delete forever
