%p#notice= notice
%p
  %strong Account:
  = @transaction.account.name
%p
  %strong Payment mean:
  = @transaction.payment_mean.name
%p
  %strong Category:
  = @transaction.category.name unless @transaction.category.nil?
%p
  %strong Name:
  = @transaction.name
%p
  %strong Amount:
  = "#{@transaction.amount} #{@transaction.currency}"
%p
  %strong Settlement amount:
  = "#{@transaction.settlement_amount} #{@transaction.settlement_currency}"
%p
  %strong Date:
  = @transaction.date
= link_to 'Edit', edit_account_transaction_path(@transaction.account, @transaction)
|
= link_to 'Back', account_path(@transaction.account)
