!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}/
    %meta{:name => "viewport", :content =>"width=device-width, initial-scale=1, shrink-to-fit=no"}/
    %title BudgetApplication
    %link{:rel => 'stylesheet', :href => 'https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en'}
    %link{:rel => 'stylesheet', :href => 'https://fonts.googleapis.com/icon?family=Material+Icons'}

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = javascript_pack_tag 'app'
    %nav.navbar.navbar-expand-md.fixed-top.navbar-dark.bg-dark
      =link_to 'Budgetizr', root_path, class: 'navbar-brand'
      %button.navbar-toggler{:type => "button", :data => {:toggle => 'collapse', :target=> '#navBarMenu'}}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navBarMenu
        -if user_signed_in?
          %ul.navbar-nav.mr-auto
            %li.nav-item
              =link_to 'Home', root_path, class: 'nav-link'
            %li.nav-item
              =link_to 'Accounts', accounts_path, class: 'nav-link'
            %li.nav-item
              =link_to 'Payment Means', payment_means_path, class: 'nav-link'
            %li.nav-item
              =link_to 'Categories', categories_path, class: 'nav-link'
            %li.nav-item
              = link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'nav-link'
    %main.container
      -if notice
        .alert.alert-info
          =notice
      -if alert
        .alert.alert-danger
          =alert
      = yield

