!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BudgetApplication
    = csrf_meta_tags
    = stylesheet_pack_tag 'application'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      =link_to 'Yac.io', root_path, class: 'navbar-brand'
      %button.navbar-toggler{'data-toggle' => 'collapse', 'data-target' => '#navbarMenu', 'aria-controls' => 'navbarMenu',
        'aria-expanded'  => 'false', 'aria-label' => 'Toggle navigation'}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarMenu
        %ul.navbar-nav.mr-auto
          %li.nav-item{:class => ('active' if current_controller?('home'))}
            =link_to 'Home', root_path, class: 'nav-link'
          %li.nav-item{:class => ('active' if current_controller?('transactions'))}
            =link_to 'Transactions', transactions_path, class: 'nav-link'
          %li.nav-item{:class => ('active' if current_controller?('accounts'))}
            =link_to 'Accounts', accounts_path, class: 'nav-link'
          %li.nav-item{:class => ('active' if current_controller?('payment_means'))}
            =link_to 'Payment Means', payment_means_path, class: 'nav-link'
          %li.nav-item{:class => ('active' if current_controller?('categories'))}
            =link_to 'Categories', categories_path, class: 'nav-link'
    %main.container-fluid{:role => 'main'}

      = yield
