.row
  -@accounts.each do |account|
    .col-sm-4
      .card.mb-4.shadow-sm
        - data = Transaction.where('account_id = ?', account.id).group_by_month(:date, time_zone: false).sum(:settlement_amount)
        - min = data.map{|d| d[1]}.min.nil? ? nil : data.map{|d| d[1]}.min - 500
        - max = data.map{|d| d[1]}.max.nil? ? nil : data.map{|d| d[1]}.max + 500
        = line_chart data, height: "225px", min: min, max: max
        .card-body
          %p.card-text
            %h4
              = account.name
              = "#{format_currency account.current_value, account.currency}"
          .d-flex.justify-content-between.align-items.center
            .btn-group
              =link_to 'View details', account_path(account.id), class: 'btn btn-sm btn-outline-secondary'
            %small.text-muted
              = account.transactions.last.date unless account.transactions.last.nil?