%h2
  =@account.name
  = "#{format_currency @account.current_value, @account.currency}"

%h2
  = @date.strftime('%B %Y')
  = ':'
  = "#{format_currency @transactions.sum(:settlement_amount), @account.currency}"


.row
  .col-md-11
    .btn-group
      = link_to new_account_transaction_path(@account), class: 'btn btn-sm btn-outline-secondary' do
        %i.fas.fa-plus
        Add Transaction
      = link_to account_recurring_transactions_path(@account), class: 'btn btn-sm btn-outline-secondary' do
        %i.fas.fa-sync-alt
        Recurring transactions
      = link_to report_account_path(@account), class: 'btn btn-sm btn-outline-secondary' do
        %i.fas.fa-chart-line
        Reports
  .col-md-1
    .btn-group
      .dropdown
        %button.btn.btn-sm.btn-outline-secondary#changeMonth{:data => {:toggle => 'dropdown'}}
          %i.fas.fa-calendar-alt
          = @date.strftime('%B %Y')
        .dropdown-menu
          -@account.months_with_transactions.each do |month, _|
            = link_to month.strftime('%B %Y'), account_path(@account, :month => month.strftime('%m'), :year => month.strftime('%Y') ), class: 'dropdown-item'

%br
%br

=render 'transactions/transaction-table', transactions: @transactions

%br
%br


  %br