%h2
  =@account.name
  = "#{format_currency @account.current_value, @account.currency}"

%h2
  = @date.strftime('%B %Y')
  = ':'
  = "#{format_currency @transactions.sum(:settlement_amount), @account.currency}"

=link_to 'Add Transaction', new_account_transaction_path(@account), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'
&nbsp;

= link_to account_recurring_transactions_path(@account), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' do
  %i.material-icons autorenew
  Recurring transactions
&nbsp;

= link_to report_account_path(@account), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' do
  %i.material-icons pie_chart
  Reports


%br
%br

=render 'transactions/transaction-table', transactions: @transactions

%br
%br

-@account.months_with_transactions.each do |month, _|
  = link_to month.strftime('%B %Y'), account_path(@account, :month => month.strftime('%m'), :year => month.strftime('%Y') )
  %br