%p#notice= notice
%h1 Accounts
%table
  %thead
    %tr
      %th Name
      %th Currency
      %th{:colspan => "3"}
  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.name
        %td= account.currency
        %td= link_to 'Show', account
        %td= link_to 'Edit', edit_account_path(account)
        %td= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Account', new_account_path
