
.row
  .col-md-2.offset-md-10
    .btn-group
      .dropdown
        %button.btn.btn-sm.btn-outline-secondary#changeMonth{:data => {:toggle => 'dropdown'}}
          %i.fas.fa-calendar-alt
          = @date.strftime('%B %Y')
        .dropdown-menu
          -@account.months_with_transactions.each do |month, _|
            = link_to month.strftime('%B %Y'), report_account_path(@account, :month => month.strftime('%m'), :year => month.strftime('%Y') ), class: 'dropdown-item'

%br
.row
  .col-md-12
    .card.mb-4.shadow-sm
      = line_chart @transactions.group(:transaction_type).group_by_month(:date, time_zone: false).sum('abs(settlement_amount)')
      .card-body
        %p.card-text
          %h4
            Income vs expense since
            = @date.at_beginning_of_day.at_beginning_of_month.strftime('%B %Y')

.row
  .col-md-6
    .card.mb-4.shadow-sm
      = pie_chart @incomes.group('categories.name').sum(:settlement_amount)
      .card-body
        %p.card-text
          %h4
            Income since
            = @date.at_beginning_of_day.at_beginning_of_month.strftime('%B %Y')

  .col-md-6
    .card.mb-4.shadow-sm
      = pie_chart @expenses.group('categories.name').sum(:settlement_amount)
      .card-body
        %p.card-text
          %h4
            Expense since
            = @date.at_beginning_of_day.at_beginning_of_month.strftime('%B %Y')

.row
  - @transactions.group(:transaction_type, :categ)
  .col-md-6
    .card.mb-4.shadow-sm
      %table.table.table-hover.table-borderless
        %thead
          %tr
            %th{:scope => 'col'} Category
            %th{:scope => 'col'} Amount
        %tbody
          - @incomes.group('categories.name', 'settlement_currency').order('sum_settlement_amount DESC').sum(:settlement_amount).each do |k,v|
            %tr
              %td=k[0]
              %td.number="#{format_currency v, k[1]}"
      .card-body
        %p.card-text
          %h4
            Income by category since
            = @date.at_beginning_of_day.at_beginning_of_month.strftime('%B %Y')
  .col-md-6
    .card.mb-4.shadow-sm
      %table.table.table-hover.table-borderless
        %thead
          %tr
            %th{:scope => 'col'} Category
            %th{:scope => 'col'} Amount
        %tbody
          - @expenses.group('categories.name', 'settlement_currency').order('sum_settlement_amount DESC').sum(:settlement_amount).each do |k,v|
            %tr
              %td=k[0]
              %td.number="#{format_currency v, k[1]}"
      .card-body
        %p.card-text
          %h4
            Expense by category since
            = @date.at_beginning_of_day.at_beginning_of_month.strftime('%B %Y')