%h2
  =@account.name
  = "#{number_to_currency @account.current_value, unit: @account.currency}"

=link_to 'Add Transaction', new_account_transaction_path(@account), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored'

%br

%table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp.table-full-size
  %thead
    %tr
      %th.mdl-data-table__cell--non-numeric.mdl-data-table__header--sorted-descending Date
      %th.mdl-data-table__cell--non-numeric Name
      %th.mdl-data-table__cell--non-numeric Category
      %th Amount
      %th Actions
  %tbody
    -@account.transactions.each do |transaction|
      %tr{class: [("debit" if transaction.settlement_amount < 0 ), ("credit" if transaction.settlement_amount >= 0 )]}
        %td= transaction.date
        %td= transaction.name
        %td= transaction.category.name unless transaction.category.nil?
        %td.number= "#{number_to_currency transaction.settlement_amount, unit: transaction.settlement_currency}"
        %td
          = link_to edit_account_transaction_path(@account, transaction) do
            %i.material-icons create
          = link_to account_transaction_path(@account, transaction), method: :delete, data: {confirm: 'Are you sure?'} do
            %i.material-icons delete forever

= link_to 'Edit', edit_account_path(@account)
|
= link_to 'Back', accounts_path
